.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.349);
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

.header__auth {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__span {
  color: white;
}

.header__logout {
  color: rgba(255, 255, 255, 0.57);
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
